body {display:flex;
flex-direction: column;
background-color: #1f2937;
font-family:'Roboto', sans-serif;
color: white;}

header {
display: flex;
justify-content: space-around;
align-items: center;
}

li { 
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

ul {display: flex;
    gap:40px;
}

.logo {font-size: 24px;
color: #f9faf8}



.intro {display: flex;
    justify-content: space-evenly;
    padding: 100px;
    height: 250px;
    gap: 100px;
}

.izq, .der {display: flex;
    width: 450px;
   min-height: 200px;
}

.izq {
flex-direction: column;
font-weight: bold;
border-style: dotted    ;
}

.der {
background-color: gray;
}

.hero {font-size: 48px;
font-weight:bolder;}

button {background-color: #3882f6;
color: white;
margin-right: auto;
font-weight: bold;
border-radius: 10px;
border-style: none;
padding: 8px;
padding-right: 30px;
padding-left: 30px;}

.info {background-color: white;
color: black;
display: flex;
flex-direction: column;
min-height: 360px;
align-items: center;
padding: 10px;}

.caja1, .caja2, .caja3, .caja4 {display: flex;
    flex-direction: column;
max-height: 200px;
padding: 10px;
max-width: 150px;} 


.cajas {display: flex;
    gap: 25px;
    padding: 10px;
}

.cubito {
border-style: solid;
border-color: #3882f6;
width: 140px;
height: 190px;
border-radius: 8px;}

text {padding: 10px;
    text-align: center;
}

.info2 {font-size: 36px;
font-weight: bolder;
color: #1f2937}


.cita {background-color: #E5E7EB;
    height: 320px;
    color: #1f2937; 
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.citadentro {display: flex;
    justify-content:last baseline;
min-height: 200px;
max-width: 750px;}

.nombrecita {font-size: 18px;
font-weight: bolder;
display: flex;
justify-content: flex-end;
color:#1f2937}

.cta {display: flex;
background-color: white;}

footer {display: flex;
justify-content: center;
padding: 20px;
}