body {display:flex;
flex-direction: column;
background-color: #1f2937;
font-family:'Roboto', sans-serif;
color: white;}

header {
display: flex;
justify-content: space-around;
align-items: center;
}

li { 
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

ul {display: flex;
    gap:40px;
}

.logo {font-size: 24px;
color: #f9faf8}



.intro {display: flex;
    justify-content: space-evenly;
    padding: 100px;
    height: 250px;
    gap: 100px;
}

.izq, .der {display: flex;
    width: 450px;
   min-height: 200px;
}

.izq {
flex-direction: column;
font-weight: bold;
border-style: dotted    ;
}

.der {
background-color: gray;
}

.hero {font-size: 48px;
font-weight:bolder;}

button {background-color: #3882f6;
color: white;
margin-right: auto;
font-weight: bold;
border-radius: 10px;
border-style: none;
padding: 8px;
padding-right: 30px;
padding-left: 30px;}

.info {background-color: white;
color: black;
display: flex;
flex-direction: column;
height: 360px;
align-items: center;
padding: 10px;}

.caja1, .caja2, .caja3, .caja4 {display: flex;
    flex-direction: column;
height: 200px;
border-style: dashed;
padding: 10px;
width: 150px;} 

.cajas {display: flex;
    gap: 25px;
    padding: 10px;
}

.cubito {
border-style: solid;
width: 140px;
height: 190px;
border-radius: 5px;}

text {padding: 10px;}

.info2 {font-size: 36px;}