body {display:flex;
flex-direction: column;
background-color: #1f2937;
font-family:'Roboto', sans-serif;
color: white;}

header {
display: flex;
justify-content: space-around;
align-items: center;
}

li { 
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

ul {display: flex;
    gap:40px;
}

.logo {font-size: 24px;
color: #f9faf8}



.intro {display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: 290px; 
    margin-right: 290px;
}

.izq, .der {display: flex;
    width: 450px;
    height: 200px;
}

.izq {
flex-direction: column;
font-weight: bold;
}

.der {background-color: grey;}

.hero {font-size: 48px;
font-weight:bolder;}

button {background-color: #3882f6;
color: white;
margin-right: auto;
font-weight: bold;
border-radius: 10px;
border-style: none;
padding: 8px;}

.info {background-color: white;}